In [2]:
import pandas as pd
import numpy as np
titanic=pd.read_csv(r'C:\Venkat\Python\Practice_Material\11th Nov -ML\11th - ML\TITANIC PROJECT\DATASET\titanic dataset.csv',header=0,dtype={'Age':np.float64})

In [4]:
titanic.tail()
del titanic['Name']

In [8]:
del titanic['Ticket']

In [9]:
del titanic['Fare']

In [10]:
del titanic['Cabin']

In [12]:
def getNumber(str):
    if str=='male':
        return 1
    else:
        return 2
titanic['Gender']=titanic['Sex'].apply(getNumber)

In [14]:
del titanic['Sex']

In [18]:
#Calculate mean of age who is servived
#titanic['age']=np.where(pd.isnull(titanic.Age) & titanic['Survived']==1,me)
meanS=titanic[titanic.Survived==1].Age.mean()

In [ ]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Age            177
SibSp            0
Parch            0
Embarked         2
Gender           0
dtype: int64

In [19]:
meanS

np.float64(28.343689655172415)

In [ ]:
titanic['age']=np.where(pd.isnull(titanic.Age) & titanic['Survived']==1,me)